 /* Search bar */
 .font-ubuntu {
   font-family: Ubuntu, sans-serif;
 }

 .products-page {
   background: white;
 }

 .form {
   position: relative;
 }

 .form .fa-search {
   position: absolute;
   top: 20px;
   left: 20px;

 }

 .form span {
   position: absolute;
   right: 17px;
   top: 13px;
   padding: 2px;
   border-left: 1px solid #d1d5db;

 }

 .left-pan {
   padding-left: 7px;
 }

 .left-pan i {

   padding-left: 10px;
 }

 .form-input {

   height: 55px;
   text-indent: 33px;
   border-radius: 10px;
 }

 .form-input:focus {

   box-shadow: none;
   border: none;
 }

 .icon-primary {
   color: #06BEE1;
 }

 .search-shadow {
   box-shadow: 5px 5px 18px -11px #000000;
   border-radius: 10px;
 }

 /* Search bar end */

 @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

 .mydiv {
   margin-top: 50px;
   margin-bottom: 50px
 }

 .cross {
   font-size: 10px
 }

 .padding-0 {
   padding-right: 5px;
   padding-left: 5px
 }

 .img-style {
   margin-left: -11px;
   box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
   border-radius: 5px;
   max-width: 104% !important
 }

 .m-t-20 {
   margin-top: 20px
 }

 .bbb_background {
   background-color: #E0E0E0 !important
 }

 .ribbon {
   width: 170px;
   height: 170px;
   overflow: hidden;
   position: absolute
 }

 .ribbon span {
   position: absolute;
   display: block;
   width: 34px;
   border-radius: 50%;
   padding: 8px 0;
   background-color: transparent;
   box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
   color: #fff;
   font: 100 18px/1 'Lato', sans-serif;
   text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
   text-transform: uppercase;
   text-align: center;
 }

 .ribbon-top-right {
   top: -10px;
   right: -10px
 }

 .ribbon-top-right::before,
 .ribbon-top-right::after {
   border-top-color: transparent;
   border-right-color: transparent
 }

 .ribbon-top-right::before {
   top: 0;
   left: 17px
 }

 .ribbon-top-right::after {
   bottom: 17px;
   right: 0
 }

 .sold_stars i {
   color: orange
 }

 .ribbon-top-right span {
   right: 17px;
   top: 17px
 }

 div {
   display: block;
   position: relative;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box
 }

 .bbb_deals_featured {
   width: 100%
 }

 .bbb_deals {
   width: 100%;
   margin-right: 7%;
   padding-top: 80px;
   padding-left: 25px;
   padding-right: 25px;
   padding-bottom: 34px;
   box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.1);
   border-radius: 5px;
   margin-top: 0px;
   background-color: white;
   height: 400px;
   max-width: 300px;
 }

 .bbb_deals_title {
  margin-bottom: 10px;
   font-size: 15px;
   font-weight: 500;
   color: #000000
 }

 .bbb_deals_slider_container {
   width: 100%
 }

 .bbb_deals_item {
   width: 100% !important
 }

 .bbb_deals_image {
   width: 100%;
   height: 200px;
   object-fit: cover;
 }

 .bbb_deals_image img {
   width: 100%;
 }

 .bbb_deals_content {
   margin-top: 33px
 }

 .bbb_deals_item_category a {
   font-size: 10px;
   font-weight: 400;
   color: rgba(0, 0, 0, 0.5)
 }

 .bbb_deals_item_color .bbb_deals_item_size {
   font-size: 14px;
   font-weight: 400;
   color: rgba(0, 0, 0, 0.5)
 }

 .bbb_deals_item_price_a {
   font-size: 10px;
   font-weight: 400;
   color: rgba(0, 0, 0, 0.6)
 }

 .bbb_deals_item_price_a strike {
   color: red
 }

 .bbb_deals_item_name {
   font-size: 16px;
   font-weight: 500;
   margin-bottom: 10px;
   color: #000000
 }

 .bbb_deals_item_name a {
   color: #000000;
 }

 .bbb_deals_item_price {
   font-size: 14px;
   font-weight: 500;
   color: #6d6e73;
   align-items: center;
   left: 10px;
 }

 .available {
   margin-top: 19px
 }

 .available_title {
   font-size: 16px;
   color: rgba(0, 0, 0, 0.5);
   font-weight: 400
 }

 .available_title span {
   font-weight: 700
 }

 @media only screen and (max-width: 991px) {
   .bbb_deals {
     width: 100%;
     margin-right: 0px;
     min-width: 300px
   }
 }

 @media only screen and (min-width: 991px) {
   .bbb_deals {

     min-width: 300px
   }
 }

 @media only screen and (max-width: 575px) {
   .bbb_deals {
     padding-left: 15px;
     padding-right: 15px
   }

   .bbb_deals_title {
     left: 15px;
     font-size: 16px
   }

   .bbb_deals_slider_nav_container {
     right: 5px
   }

   .bbb_deals_item_name,
   .bbb_deals_item_price {
     font-size: 20px
   }

 }

 .icon-stroke-red {
   -webkit-text-stroke: 1px red;
 }

 .icon-red {
   color: red;
 }

 .ribbon-top-right span {
   background-color: #F5F5F5;
 }



.close {
  position: absolute;
  top: .7rem;
  right: 3.5rem;
  font-size: 35px;
}